# percorso del repo (può anche essere ".")
GARDEN_REPO_PATH=.

# file JSON del garden (relativo alla root del repo)
GARDEN_JSON_FILE=data.json

# Nostr
NOSTR_NSEC=nsec*******************
NOSTR_RELAYS=wss://relay.primal.net,wss://relay.damus.io

# default kind (1 = text note, 30023 = long-form article, ecc.)
NOSTR_KIND_DEFAULT=1

# pubblica solo voci con DIID >= MIN_DIID (in modalità --pending)
MIN_DIID=0

# Bluesky (atproto)
# usa l'handle o l'email dell'account Bluesky
BLUESKY_IDENTIFIER=*****.bsky.social
# app password generata da Bluesky (non la password principale)
BLUESKY_APP_PASSWORD=****-****-****-****
